*.idea
*.iml
*.ipr
*.iws
*.DS_Store
target
staging
overlays
examples
pom.xml.releaseBackup
dependency-reduced-pom.xml
release.properties
logs/
.diskspool
*.classpath
*.settings
*.project
*/bin/
*/test-output/
